.dice-so-nice input:disabled, .dice-so-nice select:disabled {
    color: #bab8af;
}

.dice-so-nice input[type=range]:disabled, .dice-so-nice input[type=color]:disabled {
    opacity: 0.3;
}

#dice-config .window-content {
    overflow-y: hidden;
}

.dice-so-nice .dsn-settings-container {
    /* height: 353px; */
    overflow-y: auto;
}

.dice-so-nice .buttons-save {
    position: sticky;
    margin-top: 8px;
}

.dice-so-nice .form-group select {
    flex: 1;
}

.dice-so-nice .setting-timeBeforeHide input {
    flex: 1;
    text-align: right;
}

.dice-so-nice nav, .dice-so-nice footer {
    flex: 0;
}

.dice-so-nice nav.sheet-tabs {
    border-bottom: 1px solid #000;
    line-height: 25px;
}

.dice-so-nice section.content .settings-list {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    padding-right: 0.5em;
}

#dice-configuration-canvas {
    width: 634px;
    height: 245px;
    cursor: pointer;
}

.dice-so-nice .sfxs-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    overflow-y: visible;
}

.dice-so-nice .sfxs-list .sfx-header {
    font-weight: bold;
}

.dice-so-nice .sfxs-list .sfx {
    min-height: 30px;
    line-height: 24px;
    padding: 3px 0;
    border-bottom: 1px solid #BBB;
}

.dice-so-nice .sfxs-list .sfx img {
    display: block;
}

.dice-so-nice .sfxs-list .sfx-name {
    margin: 0;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 483px;
    overflow: hidden;
    display: block;
    height: 30px;
}

.dice-so-nice .sfxs-list .sfx-controls {
    -webkit-box-flex: 0;
    flex: 0 0 32px;
    margin-top: 3px;
    text-align: right;
}

.dice-so-nice .sfx-hidden{
    display:none;
}

.dice-so-nice .sfx-flex-2 {
    flex: 2;
}

.dice-so-nice .sfx-flex-5 {
    flex: 5;
}

.dice-so-nice .sfx-flex-3 {
    flex: 3;
}

.dice-so-nice .sfx-data select {
    width: 100%;
}

.dice-so-nice .dice-more-theme {
    border: 1px solid #585858;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    padding: 15px 0px;
    text-shadow: 2px 2px 4px black;
    margin: 0px 10px;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    background-size: cover;
    background-image: url(../images/moretheme.webp);
    box-shadow: 2px 2px 5px 0px #000000;
    background-position: center;
    color: #ff7923;
}

.dice-so-nice .dice-more-theme:hover {
    background-size: 105%;
    color: #fff;
    box-shadow: none;
}

.dice-so-nice .dsn-appearance-tabs span {
    border-left: 1px;
    border-top: 1px;
    border-right: 1px;
    border-style: solid;
    border-bottom: 0px;
    display: inline-block;
    padding: 3px;
    margin: 5px 2px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.6;
}

.dice-so-nice .dsn-appearance-tabs span::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    padding: 0px 3px;
}

.dice-so-nice .dsn-appearance-tabs span.active::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f140";
}

.dice-so-nice .dsn-appearance-tabs {
    height: 30px;
}

.dice-so-nice .dsn-appearance-tabs span.item.active {
    opacity: 1;
}

.dice-so-nice .dsn-appearance-tabs i.fas.fa-times {
    font-size: 11px;
    vertical-align: top;
    padding: 0px 2px;
    transition: all .2s ease-in-out;
    display: none;
}

.dice-so-nice .dsn-appearance-tabs i.fas.fa-times:hover {
    transform: scale(1.2);
}

.dice-so-nice .dsn-appearance-tabs .active i.fas.fa-times {
    display: inline-block;
}

.dice-so-nice .dsn-appearance-tabs span.item:hover {
    opacity: 0.8;
}

.dice-so-nice .dsn-appearance-tabs span.item.active:hover {
    opacity: 1;
}

.dice-so-nice span.dsn-appearance-hint {
    border: none;
    font-weight: normal;
    cursor: auto;
}

.dice-so-nice button[data-overwrite] {
    flex: 0 0 100px;
}

.dice-so-nice button[data-delete] {
    flex: 0 0 50px;
}

.dice-so-nice button[data-add-new] {
    flex: 0 0 150px;
}

/************** FONTS ************/

@font-face {
    font-family: "FoundryVTT";
    src: url("../fonts/foundryvtt.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}